<div class="view jarallax" data-jarallax='{"speed": 0.2}'
     style="background-image: url(https://media.journoportfolio.com/system/images/bcacd933-fc87-4a8c-8571-bb1c68a8b07d.jpeg);">
  <div class="full-bg-img mask rgba-black-light">
    <div class="container flex-center">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12">
          <div class="d-flex justify-content-center">
            <img [width]="150" [height]="150" src="https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/e35/100505511_880663839077418_4591008253799483751_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com&_nc_cat=106&_nc_ohc=THAnmkVV5l0AX8UCN0G&oh=7c37976e4887f99d4f680bf45f21fd28&oe=5EF448FA"
                 class="img-fluid zoom z-depth-1 rounded-circle "
                 alt="Responsive image"/>
          </div>
          <div class="text-center">



            <h5 class="font-up mb-4 white-text wow fadeInDown" data-wow-delay="0.4s">
              <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
              <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-instagram"><i class="fa fa-instagram"></i></a>
              <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-linkedin"><i class="fa fa-linkedin"></i></a>
              <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-github"><i class="fa fa-github-alt"></i></a>

            </h5>
            <h2 class="h2 h2-responsive white-text font-up font-italic wow fadeInDown" data-wow-delay="0.3s">
              <p>Vitalii Rudenko (Castiel)
              </p>

            </h2>

            <h5 class="h5 h5-reponsive white-text font-up font-weight-bold">
              Junior .Net WEB developer, Ukraine
            </h5>



              </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 d-sm-none d-md-block">
  <div class="media d-block d-md-flex">
    <img class="w-50 p-1 d-flex avatar-2 mb-md-0 mb-3 mx-auto" src="https://instagram.flwo3-1.fna.fbcdn.net/v/t51.2885-15/e35/100677941_3417332638381416_3101065937165340575_n.jpg?_nc_ht=instagram.flwo3-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=wzNLF2Jf8mwAX9weWKn&oh=60418d66a8de17e0d45e12c12492a76b&oe=5F176F88"
         alt="Generic placeholder image"
    >
    <div class="media-body">
      <h5 class="mt-0 font-weight-bold">About me</h5>

    My name is Vitalii Rudenko. I prefer pseudonym Castiel :). I am a 18-years old junior .Net web developer from Lviv, Ukraine.
    I work primarly with <strong>ASP.NET</strong> Core and <strong>Angular</strong>.<br>
    My skills are :
  <ul>
    <li>C#</li>
    <li>ASP.NET Core</li>
    <li>Entity Framework Core</li>
    <li>SQL</li>
    <li>Angular</li>
    <li>Have experience in .Net Android development (Xamarin.Android.)</li>
    <li>Git</li>
  </ul>
      <p>
        I enjoy cycling,reading, programming and... procrastination (the most) 🥰 Here you can find my <a>blog</a>.<br>
        Other areas of interest include science , philosophy ,religion and history.
      </p>
      <p>
        Currently looking for job.
      </p>
    </div>
</div>
</div>
